/* YOUR CUSTOM STYLES */

body{
    background-image:  url("../wood.jpg"); 
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Spectral', serif;
    content: center;
    margin: 0rem !important;
    padding: 0rem !important;
    overflow-x: hidden !important;
}

.my-pic-card{
    padding: 0rem !important;
    background: transparent;
}

.my-pic{
    width: auto;
    height: auto;
    border-radius: 50% !important;
    margin-top: 5%;
}

.overflow{
    overflow-y: scroll !important;
    height: 250px !important;
    margin-bottom: 0rem !important;
}


.card{
    padding: 5%;
}

.about-me-card{
    padding: 5%;
}

.form-control{
    margin: 0px;
    padding: 0px;
}


.card-title{
    margin-bottom: 0rem;
}

.card-block {
    padding-bottom: 0pt !important;
    margin-bottom: 0pt !important;
}

.skills-card{
    padding: 0rem !important;
}

.link{
    margin: auto;
    text-align: center;
    align-content: center;
}

.more {
    padding-left: 0pt !important;
    padding-right: 0pt !important;
}

.skilllist {
    padding-left: 7% !important;
}

.wrk {
    padding: 0% !important;
}

.wrkcard {
    padding: 0% !important;
    padding-top: 1rem !important;
}


#welcome{
    margin: auto;
    margin-top: 7.5rem !important;
    margin-bottom: 4rem !important;
    text-align: center;
    padding: 0% !important;
}

#title{
    margin: auto;
    margin-top: 8rem !important;
    margin-bottom: 4rem !important;
    text-align: center;
    padding: 0% !important;
}

#exp {
    margin: 0% !important;
    text-align: center;
    padding: 0% !important;
}

#project {
    margin: auto;
    margin-top: 8rem !important;
    margin-bottom: 4rem !important;
    text-align: center;
    padding: 0% !important;
}

#inv{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#link-buttons{
    background-color: white;
}