/* YOUR CUSTOM STYLES */
body{
    background-color: #FFFDE7;
    font-family: "Bookman Old Style";
    margin: 80px 0rem 0rem 0rem;
}

#title{
    margin: 5% 10% 5% 10%;
}

#projects{
    margin: 5% 10% 5% 10%;
}

#link-buttons{
    width: auto;
    margin: 0% 1% 0% 1%;
    background-color: white;
}
#link-button-group{
    margin: 5% 10% 5% 18%;
    align-content: center;
}