/* YOUR CUSTOM STYLES */

body{
    background-image:  url("../wood.jpg"); 
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Spectral', serif;
    content: center;
    margin: 0rem !important;
    padding: 0rem !important;
    overflow-x: hidden !important;
}

.invimg{
    width: auto !important;
    height: 225px !important;
}

.my-pic-card{
    padding: 0rem !important;
    background: transparent;
}

.my-pic{
    width: auto;
    height: auto;
    border-radius: 50% !important;
    margin-top: 5%;
}

#projects{
    margin: 0rem !important;
    padding: 0rem !important;
    width: 100% !important;
}

.project-items{
    padding-top: 5% !important;
    padding-bottom: 1% !important;
    padding-left: 2% !important;
    padding-right: 0% !important;
}

.underc{
    height: 7rem !important;
    width: 30rem !important;
    margin: auto !important;
    content: center !important;
    text-align: center !important;
}

.overflow{
    overflow-y: scroll !important;
    height: 250px !important;
    margin-bottom: 0rem !important;
}

.pheader{
    height: 25px;
    padding: 3%;
}

.proj {
    margin: 0rem !important;
    padding: 0rem !important;
}

.proj-pic{
    height: 313px !important;
    width: 100% !important;
}

.project{
    height: 300px !important;
    overflow-y: hidden !important;
}

.card{
    padding: 5%;
}

.about-me-card{
    padding: 5%;
}

.form-control{
    margin: 0px;
    padding: 0px;
}

.movie-love{
    color: green;
}

.dws{
    color: red;
}

.upgrade-indy{
    color: blue;
}

.noteherder{
    color: darkorange;
}

#welcome{
    margin: auto;
    margin-top: 7.5rem !important;
    margin-bottom: 4rem !important;
    text-align: center;
    padding: 0% !important;
}

.card-title{
    margin-bottom: 0rem;
}

#title{
    margin: auto;
    margin-top: 8rem !important;
    margin-bottom: 4rem !important;
    text-align: center;
    padding: 0% !important;
}

.component{
    width: 90%;
    margin: auto;
    margin-top: 4rem;
}

#inv{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#contact-me{
    margin-top: 8rem;
    margin-bottom: 5rem;
}

#link-buttons{
    background-color: white;
}

.skills-card{
    padding: 0rem !important;
}

.link{
    margin: auto;
    text-align: center;
    align-content: center;
}