
<!-- welcome header -->
<div style="background-image: url('../assets/pictures/leaves.JPG'); color: black; 
  font-weight: bold; text-align: center; background-repeat: no-repeat; 
  background-position: center center; background-attachment: fixed; 
  background-size: cover; height: 600px !important; width: 100% !important;">
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
   <h1 style="font-size: 100px; font-family: 'Modak', cursive; color: #181f11;">
      Heidi Anderson
    </h1>
   <br />
</div>

<div>

</div>