<div class="justify-content-center"> 
    <div class="row">
        <div class="col" style="text-align: center">
            <h1 class="navbar-font">Involvement</h1>
        </div>
    </div>
    <hr><br />
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="row justify-content-center">
                <div class="col">
                    <h3 class=""  style="">
                        Mentoring Aspiring Girls in Computing
                    </h3>
                    <div class="">
                        <p>
                            MAGIC is a service learning class in which I taught local high school girls about computer science. 
                            I worked with students to teach them about different coding languages, techniques, and opportunities. 
                            Mentoring these high school girls allowed me to inspire other women to go into the tech field. 
                            MAGIC is working to create a closer community to give these students the confidence and knowledge to pursuit their interests.
                        </p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col">
                    <h3 class=""  style="">
                        Grace Hopper Celebration of Women<br />AnitaB.org Conference Scholar 2018
                    </h3>
                    <div class="">
                        <p>
                            I attended the Grace Hopper Conference(GHC) 2018 in Houston, Texas.
                            I was one of the students selected for the AnitaB.org scholarship for this event.
                            It was truely inspirational to attend such a large event and see such a large community of women in the tech-field.
                            GHC is an event I hope to attend multiple times throughout my life.
                            As a student I really enjoyed talking with and listening to women I could look up to;
                            eventually, I would like to become one of those women to help young people.
                            This event showed me a community that I knew existed, but I had never really felt, until then.
                        </p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col">
                    <h3 class=""  style="">
                        Women in High Performance Computing<br />Student Cluster Competition 2018
                    </h3>
                    <div class="">
                        <p>
                            I attended the Supercomputing 2018 conference in Dallas, Texas, as a Student Cluster Competition Participant.
                            The Student Cluster Competition(SCC) is a competition for undergraduate students to build and run a cluster.
                            <a href="http://www.studentclustercompetition.us/2019/overview.html">Here</a> is a link to the official overview.
                            I had a truly amazing experience learning about high-performance computing and machine learning.
                            My team and I really enjoyed being the first all woman team from Purdue University and bringing our own flare to the event.
                            The applications we ran during the competition were: HPL, HPCG, Horovod, OpenMC, WRF, and Seisol.
                        </p>
                    </div>
                </div>
            </div>
            <br />
            <div class="row justify-content-center">
                <div class="col">
                    <h3 class=""  style="">
                        Gamma Phi Beta<br />Technology and Computer Chair
                    </h3>
                    <div class="">
                        <p>
                            I am a member of the Gamma Phi Beta sorority. 
                            We participate in serving the community through fundraisers and events. 
                            Our philanthropy is Girls on the Run; 
                            we coach and support local teams of young girls in the program. 
                            We also learn communication, leadership, and team building skills through our sisterhood. 
                            I was the chapter's Technology and Computer Chair. 
                            My responsibilities included aiding others with technical problems and questions plus being in charge of our house technology.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"><br /></div>
        <div class="col-sm-12 col-md-5">
            <br /><br />
            <div class="row">
                <div class="col" style="text-align: center;">
                    <h3 class=""  style="">
                        Complete List
                    </h3>
                    <hr style="width:80%;">
                    <div class="" style="line-height: 25pt;">
                            <p style="margin:0px;">Mentoring Aspiring Girls in Computing</p>
                            <p style="margin:0px;">Grace Hopper Celebration of Women</p>
                            <p style="margin:0px;">Women in High Performance Computing</p>
                            <p style="margin:0px;">Gamma Phi Beta: Technology and Computer Chair</p>
                            <p style="margin:0px;">Sigma Alpha Pi: The National Society of Leadership and Success</p>
                            <p style="margin:0px;">Purdue University Dance Marathon: Productions Committee</p>
                            <p style="margin:0px;">Peer-2-Peer Mentor</p>
                            <p style="margin:0px;">iOS Developement Club</p>
                            <p style="margin:0px;">BoilerCode Mentor</p>
                            <p style="margin:0px;">Purdue Hackers</p>
                            <p style="margin:0px;">Computer Science Women's Network</p>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <div 
                                style="background-image: url('./Pics/watertower.JPG');" 
                                class="pictures-1"
                            >
                                <h2></h2>
                            </div>
                        </div>
                        <div class="col">
                            <div 
                                style="background-image: url('./Pics/scc.JPG');" 
                                class="pictures-1"
                            >
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
