
<nav class="navbar navbar-expand-lg navbar-light navbar-font"
    style="background-color: #ffe1db;">
  
    <a class="navbar-brand" routerLink="/home">Home</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/life">Life</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/work">Work</a>
      </li>
      <li class="nav-item dropdown">
        <div ngbDropdown class="d-inline-block">
          <button class="btn" style="color: #7d716e;" id="dropdownBasic1" ngbDropdownToggle>Contact</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>
              <a href="https://www.linkedin.com/in/heidi-anderson-b7b06613b/">
                  <button type="button" id = "link-buttons" class="btn waves-effect"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</button>
              </a>
            </button>
            <button ngbDropdownItem>
              <a href="https://github.com/PacificWord70">
                <button type="button" id = "link-buttons" class="btn waves-effect"><i class="fa fa-github" aria-hidden="true"></i> Github</button>
              </a>
            </button>
            <button ngbDropdownItem>
              <a class="btn waves-effect" routerLink="/email">Email</a>
            </button>
          </div>
        </div>
      </li>
    </ul>
  <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  -->
  </div>
</nav>
