<div class="justify-content-center"> 
    <div class="row">
        <div class="col" style="text-align: center">
            <h1 class="navbar-font">Work Experience</h1>
        </div>
    </div>
    <hr><br />
    <div class="row justify-content-center">
        <div class="col-sm-4 animated fadeInLeftBig">
            <br /><br />
            <img style="width: 100%; height: auto;" class="" src="../../../assets/pictures/capitalonelogo.png" />
        </div>
        <div class="col-md-8">
            <h3 class="card-header black-text"  style="background-color: white;">
                Technology Development Program<br />Software Engineering Intern
            </h3>
            <div class="card-block">
                <p>
                    Over the 2019 summer, I worked as a Software Engineering Intern at Capital One, in Mclean, Virginia. 
                    I worked with one of their Risk and Compliance teams overlooking their data pool in the public cloud. 
                    I helped design and create a web-based Governance, Risk Management, and Compliance control tool. 
                    I built this application using Material Design Boostrap, Node.js, Express, Postgresql, and the AWS Relational Database. 
                    Over this time I also learned about audit operations, ITGC processes, and user interface practices while 
                    working with local and remote professionals. It was a great experience to blueprint plus enhance the purpose and 
                    user experience of this brand new tool at such a large and inovative company.
                </p>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row justify-content-center">
        <div class="col-sm-4 animated fadeInLeftBig">
            <img style="width: 100%; height: auto;" class="" src="../../../assets/pictures/rockwellcollinslogo.png" />
        </div>
        <div class="col-md-8">
            <h3 class="card-header black-text"  style="background-color: white;">
                Summer Engineering Project Program<br />Software Engineering Intern
            </h3>
            <div class="card-block">
                <p>
                    Over the summer of 2018, I participated as one of 25 interns in Rockwell 
                    Collin's Summer Engineering Projects Program (SEPP), in Cedar Rapids, Iowa. I used C++ and Python to modify 
                    company flight management software for a semi-autonomous fixed wing drone. 
                    I worked with three teammates to explore the possibility of transforming the 
                    existing software into a civilian commercial product. My team and I worked 
                    with two other teams to integrate each of our experimental projects onto one 
                    physical system. Our team used Agile to delegate work to meet summer deadlines. 
                    And at the end of the summer, we displayed our work to company executives 
                    through a final presentation and written report.
                </p>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row justify-content-center">
        <div class="col-sm-4 animated fadeInLeftBig">
            <br />
            <img style="width: 70%; height: auto; margin: 5%;" class="" src="../../../assets/pictures/purduecslogo.png" />
        </div>
        <div class="col-md-8 wrk">
            <h3 class="card-header black-text"  style="background-color: white;">
                Undergraduate Teaching Assistant
            </h3>
            <div class="card-block wrk">
                <p>
                    Over two years, I was a UTA for CS180 and CS180x. 
                    CS180 is the introductory computer science course for freshman at Purdue University. 
                    CS 180x is the online version of CS180 for high schoolers and other students around the world. 
                    These classes use object-oriented Java to teach programming basics and principles. 
                    Some topics include classes, methods, inheritence, threads, Android development, and networking.
                    As a UTA I aided students during lab sessions, to comprehend and learn the material, and exams, 
                    to understand the requierments. 
                    I worked with other undergraduate and graduate TAs to complete weekly class objectives.
                </p>
            </div>
        </div>
    </div>
</div>