

<div class="row">

    <!-- welcome header -->
    <div class="col-sm-12" style="
        background-image: url('../assets/pictures/leaves.JPG');
        text-align: center; 
        background-repeat: no-repeat; 
        background-position: center center; 
        background-attachment: fixed; 
        background-size: cover; 
        height: 100% !important; width: 100% !important;">
      <br /><br /><br /><br /><br /><br /><br /><br /><br />
      <h3 style="font-size: 80px; font-family: 'Modak', cursive; color: #0f140a; text-shadow: 3px 3px #e89572;">
        Hi, it's
      </h3>
      <h1 style="font-size: 150px; font-family: 'Modak', cursive; color: #0f140a; text-shadow: 3px 3px #e89572;">
        Heidi
      </h1>
      <br />
  
      <div class="row justify-content-center"
          style="font-family: 'Righteous', cursive; font-size: 20px;">
        <a routerLink="/life" class="col-sm-2 card shadow-lg"
            style="padding: 5px; background-color: #ffe1db; opacity: 0.9; color: black;">
          Life
        </a>
        <div class="col-sm-1"><br /></div>
        <a routerLink="/work" class="col-sm-2 card shadow-lg"
            style="padding: 5px; background-color: #ffe1db; opacity: 0.9; color: black;">
          Work
        </a>
      </div>
      <br /><br /><br />

    </div>
</div>