<div class="justify-content-center"> 
    <div class="row">
        <div class="col" style="text-align: center">
            <h1 class="navbar-font">School</h1>
        </div>
    </div>
    <hr><br />
    <div class="row justify-content-center">
        <div class="col-sm-4 animated fadeInLeftBig">
            <br /><br />
            <img style="width: 90%; height: auto;" class="" src="../../../assets/pictures/purduelogo.png" />
        </div>
        <div class="col-md-8">
            <h3 class="card-header black-text"  style="background-color: white;">
                Bachelor's of Science in Computer Science
                <h6>
                    Focuses in Machine Intelligence and Database Information Systems
                </h6>
            </h3>
            <div class="card-block">
                <br />
                <p>
                    I had an amazing experience at Purdue University. 
                    Purdue taught me about life and opportunities while giving me experiences and 
                    friendships that will stay with me for the rest of my life.
                </p>
                <p>
                    My favorite courses were Databases, Data Mining, and Anthropology. 
                    I'm interested in accessing the world around me and understanding each element. 
                    Being able to analyse factors that affect how we live gives us a full picture of our perspective. 
                    Bringing creativity to how we solve these problems brings me joy.
                </p>
            </div>
        </div>
    </div>
</div>