

<div class="row" style="padding: 0; margin: 0; border:0;">
    <!-- welcome header -->
    <div class="col-sm-12" style="
        background-image: url('../assets/pictures/leaves.JPG');
        text-align: center; 
        background-repeat: no-repeat; 
        background-position: center center; 
        background-attachment: fixed; 
        background-size: cover;
        padding: 0; margin: 0; border:0;">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <h3 style="font-size: 80px; font-family: 'Modak', cursive; color: #0f140a; text-shadow: 3px 3px #e89572;">
        Hi, it's
      </h3>
      <h1 style="font-size: 150px; font-family: 'Modak', cursive; color: #0f140a; text-shadow: 3px 3px #e89572;">
        Heidi
      </h1>
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
</div>
<br /><br /><br /><br /><br />

<div class="row justify-content-center"
    style="font-family: 'Righteous', cursive; font-size: 40px; padding: 0; margin: 0; border:0;">
    <div class="col-sm-4">
      <a routerLink="/work" class="row card shadow-lg" style="
          background-image: url('../assets/pictures/baseball.JPG');
          text-align: center; color: black;
          background-position: center center; 
          background-size: cover;">
        <br /><br /><br />
        Work
        <br /><br /><br />
      </a>
      <br />
      <a routerLink="/life" class="row card shadow-lg" style="
          background-image: url('../assets/pictures/joshuatreerocks.JPG');
          text-align: center; color: black;
          background-position: center center; 
          background-size: cover; ">
        <br /><br /><br />
        Life
        <br /><br /><br />
      </a>
    </div>
    <div class="col-sm-5"><br /></div>
</div>
<br />


