
<app-navbar></app-navbar>
<div class="row" style=" background-color: #fff6f5;">
    <div style="margin:10%; margin-top:5%; padding:5%; 
          font-family: 'Quicksand', sans-serif; background-color: white;">
      <app-about-me></app-about-me>
    </div>
  </div>
<div style="margin:10%; margin-top:5%; font-family: 'Quicksand', sans-serif;">
    <app-school></app-school>
    <br />
</div>
<div style="margin:5%; margin-top:0%; padding:5%; font-family: 'Quicksand', sans-serif; background-color: snow;">
    <app-school-courses></app-school-courses>
</div>
<div style="margin:10%; margin-top:5%; font-family: 'Quicksand', sans-serif;">
    <br /><br />
    <app-involvement></app-involvement>
</div>