<div class="justify-content-center"> 
    <div class="row">
        <div class="col" style="text-align: center">
            <h1 class="navbar-font">Skills</h1>
        </div>
    </div>
    <hr>
    <br />
    <div class="row justify-content-center">
        <div class="col-md-1"></div>
        <div class="col-sm-12 col-md-3" style="">
            <h3 class="row">Technical Skills</h3>
            <div class="row">
                <div class="col">Java</div>
                <div class="col">Python</div>
            </div>
            <div class="row">
                <div class="col">C++</div>
                <div class="col">HTML / CSS</div>
            </div>
            <div class="row">
                <div class="col">C</div>
                <div class="col">Javascript</div>
            </div>
            <div class="row">
                <div class="col">Angular</div>
                <div class="col">Express.js</div>
            </div>
            <div class="row">
                <div class="col">MySQL</div>
                <div class="col">Node.js</div>
            </div>
            <div class="row">
                <div class="col">Java SpringBoot</div>
                <div class="col">R</div>
            </div>
            <div class="row">
                <div class="col">Postgresql</div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col">AWS Relational Database Services</div>
            </div>
            
        </div>
        <div class="col-md-1"><br /><br /></div>
        <div class="col-sm-12 col-md-3">
            <h3 class="row">Soft Skills</h3>
            <div class="row">Positive Atitude</div>
            <!--<div class="row">Maximizes Situations</div>-->
            <div class="row">Creative Problem Solving</div>
            <div class="row">Efficient Time Management</div>
            <div class="row">Organized and Adaptable</div>
            <div class="row">Agile / Scrum</div>
            <div class="row">Project Management and Design</div>
            <div class="row">Virtual Collaboration</div>
            <div class="row">Remote Productivity</div>
        </div>
    </div>
</div>